// Defining the style of the header
//

header.heading {
  background-image: url('/assets/1.jpg');
  background-color: #fff;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (min-width: 840px) {
  header.heading {
    height:100vh;
  }
}
