// Defining the style of the header
//

header.heading {
  background-image: url('/assets/1.jpg');
  background-color: #fff;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: height 1s cubic-bezier(.55,0,.1,1);
-moz-transition: height 1s cubic-bezier(.55,0,.1,1);
-ms-transition: height 1s cubic-bezier(.55,0,.1,1);
-o-transition: height 1s cubic-bezier(.55,0,.1,1);
transition: height 1s cubic-bezier(.55,0,.1,1);
}
@media (min-width: 840px) {
  header.heading {
    height:100vh;
  }
}
