// Defining the style of the header
//

header.heading {
  background: url('/assets/1.jpg');
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px;
}
@media (min-width: 840px) {
  header.heading {
    height:100vh;
  }
}
