// Helpers
//

.center-align {
  text-align: center;
}
.text-white {
  color:white !important;
}
.white {
  background-color:#fff !important;
}
.text-white {
  color:#fff !important;
}
body {
  background-color:#dfdfdf;
}
.margin-bottom-small {
  margin-bottom:20px;
}
.margin-bottom-big {
  margin-bottom:50px;
}
.padding-top-big {
  padding-top:50px;
}
.padding-bottom-big {
  padding-bottom:50px;
}
.valign {
  display: flex;
  justify-content: center;
  align-items: center;
}
